{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": false,
  "semi": true,
  "requirePragma": false,
  "insertPragma": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": false
      }
    }
  ]
}
